<div class="form-filter">
    <div class="form-row">
        <div style="margin: 10px 100px" class="form-group">
            <label style="margin-left:10px">Từ khóa</label>
            <input style="margin-left:10px; width:500px" class="1" type="text" id="tu-khoa-search" />

            <button style="width:92px; margin-left: 10px" type="button" class="1" id="filter-btn">Tìm kiếm</button>
            <button style="width:92px; margin: 0px 10px" type="button" class="1" id="filter-cancel-btn">Tất cả</button>
            <button style="width:92px" type="button" class="1" data-toggle="modal" data-target="#modalAdd">Thêm mới</button>
        </div>
    </div>
</div>

<hr />

<div class="table-tree-wrapper table-form-field">
    <div style="width:100%; margin:0 auto;">
        <table id="dataGrid" class="table-border row-border compact" cellspacing="0">
            <thead>
                <tr>
                    <th class="center-align">STT</th>
                    <th>Name</th>
                    <th>Code</th>
                    <th>AuthorID</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!-- Modal add-->
<div class="modal right fade" id="modalAdd" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm mới</h4>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
            </div>
            <div class="modal-body">
                <input id="nameAdd" required="required" type="text" autocomplete="off" class="form-control" placeholder="Enter Name" />
            </div>
            <div class="modal-body">
                <input id="codeAdd" required="required" type="text" autocomplete="off" class="form-control" placeholder="Enter Code" />
            </div>
            <div class="modal-body">
                <select style="width:100%" id="authoridAdd">
                    <!-- option from script -->
                </select>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-light" data-dismiss="modal">Hủy bỏ</button>
                <button type="button" class="btn btn-secondary" onclick="addData()">Thêm</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal edit-->
<div class="modal right fade" id="modalEdit" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cập nhật</h4>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
            </div>
            <div class="#">
                <input id="idEdit" type="hidden" class="form-control" />
            </div>
            <div class="modal-body">
                <input id="nameEdit" required="required" type="text" autocomplete="off" class="form-control" />
            </div>
            <div class="modal-body">
                <input id="codeEdit" required="required" type="text" autocomplete="off" class="form-control" />
            </div>
            <div class="modal-body">
                <select style="width:100%" id="authoridEdit">
                    <!-- option from script -->
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-light" data-dismiss="modal">Hủy bỏ</button>
                <button type="button" class="btn btn-secondary" onclick="editData()">Lưu</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal delete-->
<div class="modal right fade" id="modalDelete" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Xóa</h4>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
            </div>
            <div class="modal-body">
                <input id="idDelete" type="hidden" class="form-control" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-light" data-dismiss="modal">Hủy bỏ</button>
                <button type="button" class="btn btn-secondary" onclick="deleteData()">Xóa</button>
            </div>
        </div>
    </div>
</div>

<!-- script for data add dropdown -->
<script>
    $(document).ready(function () {
        // Khởi tạo Select2 cho Select Dropdown
        $('#authoridAdd').select2({
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            language: "vi",
            placeholder: "Chọn tác giả",
        });

        // Lấy danh sách book từ API và điền vào Select Dropdown
        $.ajax({
            url: `${BASEURL}/api/TuanMVC/AuthorApi/Gets`,
            type: "POST",
            data: buildData(),
            success: function (data) {
                const authoridAdd = $('#authoridAdd');
                authoridAdd.empty(); // Xóa tất cả các option hiện có
                if (data && data.length > 0) {

                    const DefaultOpt = $('<option>', {
                        value: ""
                    });
                    authoridAdd.append(DefaultOpt);

                    for (let i = 0; i < data.length; i++) {
                        // Tạo một option mới cho mỗi author
                        const option = $('<option>', {
                            value: data[i].ID, // Giả sử ID là giá trị cần thiết
                            text: data[i].Name // Tên author là nội dung của option
                        });
                        authoridAdd.append(option); // Thêm option vào select dropdown
                    }
                }
            },
            error: function (error) {
                console.error("Lỗi khi lấy dữ liệu sách:", error);
            }
        });
    });

    // Hàm buildData
    function buildData() {
        let tuKhoa = $('#tu-khoa-search').val();
        const request = {
            "TuKhoa": tuKhoa,
        };
        return request;
    }
</script>

<!-- script for data edit dropdown -->
<script>
    $(document).ready(function () {
        // Khởi tạo Select2 cho Select Dropdown
        $('#authoridEdit').select2({
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            language: "vi",
            placeholder: "Chọn tác giả",
        });

        // Lấy danh sách book từ API và điền vào Select Dropdown
        $.ajax({
            url: `${BASEURL}/api/TuanMVC/AuthorApi/Gets`,
            type: "POST",
            data: buildData(),
            success: function (data) {
                const authoridEdit = $('#authoridEdit');
                authoridEdit.empty(); // Xóa tất cả các option hiện có
                if (data && data.length > 0) {
                    for (let i = 0; i < data.length; i++) {
                        // Tạo một option mới cho mỗi author
                        const option = $('<option>', {
                            value: data[i].ID, // Giả sử ID là giá trị cần thiết
                            text: data[i].Name // Tên author là nội dung của option
                        });
                        authoridEdit.append(option); // Thêm option vào select dropdown
                    }
                }
            },
            error: function (error) {
                console.error("Lỗi khi lấy dữ liệu sách:", error);
            }
        });
    });

    // Hàm buildData
    function buildData() {
        let tuKhoa = $('#tu-khoa-search').val();
        const request = {
            "TuKhoa": tuKhoa,
        };
        return request;
    }
</script>

<!-- script for table -->
<script>
    const url = window.location;
    const BASEURL = url.protocol + "//" + url.hostname + url.port;

    $(document).ready(function () {
        $('#filter-btn').on('click', function () {
            $('#dataGrid').DataTable().ajax.reload().draw();
        });

        $('#filter-cancel-btn').on('click', function () {
            $('#tu-khoa-search').val("");

            $('#dataGrid').DataTable().ajax.reload().draw();
        });

        $('#tu-khoa-search').on("keydown", function search(e) {
            if (e.keyCode == 13) {
                $('#dataGrid').DataTable().ajax.reload().draw();
            }
        });

        //$('#authoridAdd').select2({
        //    theme: 'bootstrap4',
        //    width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
        //    language: "vi",
        //    placeholder: $(this).data('placeholder'),
        //});

        function buildData() {
            let tuKhoa = $('#tu-khoa-search').val();

            const request = {
                "TuKhoa": tuKhoa,
            };

            return request;
        };

        let table = $('#dataGrid').DataTable({
            "pageLength": 10,
            "autoWidth": false,
            "ordering": false,
            "bInfo": false,
            "bDestroy": true,
            "lengthMenu": [5, 10, 15, 20, 25, 50, 100],
            "filter": false,
            "language": {
                "sProcessing": "Đang xử lý...",
                "sLengthMenu": "_MENU_",
                "sZeroRecords": "Không có dữ liệu",
                "sEmptyTable": "Bảng trống",
                "sInfo": "Hiện dòng _START_ đến _END_ trong tổng _TOTAL_ dòng",
                "sInfoEmpty": "Hiện dòng 0 đến 0 trong tổng 0 dòng",
                "sSearch": "Tìm kiếm",
                "sLoadingRecords": "Đang tải...",
                "paginate": {
                    next: '<i class="icon-fluent icon_fluent_chevron_right_filled"></i>',
                    previous: '<i class="icon-fluent icon_fluent_chevron_left_filled"></i>'
                }
            },
            "ajax": {
                url: `${BASEURL}/api/TuanMVC/BooksApi/Gets`,
                type: "POST",
                data: buildData,
                dataSrc: function (data) {
                    if (data && data.length > 0) {
                        for (let i = 0; i < data.length; i++) {
                            data[i].stt = i + 1;
                        }

                        return data;
                    }

                    return [];
                },
            },
            columnDefs: [
                {
                    targets: 4,
                    render: function (data, type, row, meta) {
                        return `<span title="Chỉnh sửa" class="edit-command-btn" id=n-"${meta.row}">Edit</span>
                                <span title="Xóa" class="delete-command-btn" id=n-"${meta.row}">Delete</span>`;
                    }
                }
            ],
            "columns": [
                { data: "stt", "width": "30px", "class": "stt-text center-align" },
                { data: "Name", "class": "left-align" },
                { data: "Code", "class": "left-align" },
                { data: "AuthorID", "class": "left-align" }
            ]
        });

        $('#dataGrid tbody').on('click', '.delete-command-btn', function () {
            var id = $(this).attr("ID").match(/\d+/)[0];
            var data = $('#dataGrid').DataTable().row(id).data();

            $('#idDelete').val(data.ID);

            $('#modalDelete').modal('show');
        });

        $('#dataGrid tbody').on('click', '.edit-command-btn', function () {
            let id = $(this).attr("ID").match(/\d+/)[0];
            let data = $('#dataGrid').DataTable().row(id).data();

            $('#idEdit').val(data.ID);
            $('#nameEdit').val(data.Name);
            $('#codeEdit').val(data.Code);
            $('#authoridEdit').val(data.AuthorID).trigger('change'); // trigger change để Select2 cập nhật UI
            $('#authoridEdit').select2(); // Re-initialize Select2

            $('#modalEdit').modal('show');
        });
    });

    function addData() {
        const Name = $('#nameAdd').val();
        const Code = $('#codeAdd').val();
        const AuthorID = $('#authoridAdd').val();

        if (Name != null && Name != "" && Code != null && Code != "") {
            const request = {
                "Name": Name,
                "Code": Code,
                "AuthorID": AuthorID
            };

            $.ajax({
                url: `${BASEURL}/api/TuanMVC/BooksApi/Add`,
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(request),
                success: function (data) {
                    $('#dataGrid').DataTable().ajax.reload().draw();
                    $('#modalAdd').modal('hide');

                    $('#modalAdd input[type="text"]').val("");
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    };

    function editData() {
        const id = $('#idEdit').val();
        const name = $('#nameEdit').val();
        const code = $('#codeEdit').val();
        const authorid = $('#authoridEdit').val();

        if (id != null && id != "" && name != null && name != "") {
            const request = {
                "ID": id,
                "Name": name,
                "Code": code,
                "AuthorID": authorid
            };

            $.ajax({
                url: `${BASEURL}/api/TuanMVC/BooksApi/Edit`,
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(request),
                success: function (data) {
                    $('#dataGrid').DataTable().ajax.reload().draw();
                    $('#modalEdit').modal('hide');
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    };

    function deleteData() {
        const id = $('#idDelete').val();

        if (id != null && id != "") {
            $.ajax({
                url: `${BASEURL}/api/TuanMVC/BooksApi/Delete?data=${id}`,
                type: "POST",
                success: function (data) {
                    $('#dataGrid').DataTable().ajax.reload().draw();
                    $('#modalDelete').modal('hide');
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    };

</script>