<link rel="stylesheet" href="module.css">

<div style="text-align:center">
    <h2 style="color: brown"> Class management </h2>
</div>

<!-- tim kiem sinh vien -->
<hr />
<div class="form-filter">
    <div class="form-row">
        <div style="text-align: center" class="form-group">
            <div>
                <label style="margin-left: 10px">Chọn lớp</label>
                <select style="width:150px" id="MaLopSelect">
                    <option value="">Chọn Mã Lớp</option>
                </select>
                <label style="margin-left:20px">Tên sinh viên</label>
                <input style="width:200px" class="1" type="text" id="tu-khoa-search" />
                <label style="margin-left:20px">Nhập ngày</label>
                <input style="width:200px" class="1" type="text" id="ngay-search" />
                <label style="margin-left: 20px">Lọc</label>
                <select style="width:200px" id="LocSelect">
                    <option value="V">Vắng</option>
                    <option value="X">Không Vắng</option>
                </select>
                <input class="1" type="hidden" id="ma-search" />
            </div>

            <div style="margin-top: 20px">
                <button style="width:92px" type="button" class="1" id="filter-btn">Tìm kiếm</button>
                <button style="width:92px; margin-left: 50px" type="button" class="1" data-toggle="modal" data-target="#modalThongKe">Thống kê</button>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="table-tree-wrapper table-form-field">
    <div style="width:100%; margin:0 auto;">
        <table style="border:solid 1px" id="dataGrid" class="table table-striped" cellspacing="0">
            <thead>
                <tr>
                    <th style="width:100px" class="center-align">STT</th>
                    <th>MaSinhVien</th>
                    <th>HoTen</th>
                    <th>DiaChi</th>
                    <th>NgaySinh</th>
                    <th>SoDienThoai</th>
                    <th>MaLop</th>
                    <th style="width:250px">TenMon</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!-- Modal Thong ke-->
<div class="modal right fade" id="modalThongKe" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thống Kê</h4>
            </div>
            <div class="modal-body">
                <input id="tu-khoa-ngay-vang" required="required" type="text" autocomplete="off" class="form-control" placeholder="Enter Day" />
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-light" data-dismiss="modal">Hủy bỏ</button>
                <button id="btn-tim" type="button" class="btn btn-secondary" onclick="showSecondModal()">Thống kê</button>
            </div>
        </div>
    </div>
</div>

<div class="modal right fade" id="modalAddSecond" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Bảng Thống Kê</h4>
            </div>
            <div class="modal-body">
                <div class="table-tree-wrapper table-form-field">
                    <div style="width:100%; margin:0 auto;">
                        <table id="dataGrid_ThongKe" class="table-border row-border compact" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Mã Lớp</th>
                                    <th>Số sinh Vien Vắng</th>
                                    <th>Số sinh viên đi học</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-light" data-dismiss="modal">Thoát</button>
            </div>
        </div>
    </div>
</div>

<!-- script for dropdown MaLop -->
<script>
    $(document).ready(function () {
        $('#MaLopSelect').select2({
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            language: "vi",
            placeholder: "Chọn Lớp",
        });


        $('#filter-btn').on('click', function () {
            let maLop = $('#MaLopSelect').val();

            if (maLop === 'all') {
                $('#ma-search').val(0);
            } else {
                $('#ma-search').val(maLop);
            }

            $('#dataGrid').DataTable().ajax.reload().draw();
        });

        $.ajax({
            url: `${BASEURL}/api/TuanMVC/SinhVienLopApi/Gets`,
            type: "POST",
            data: buildData(),
            success: function (data) {
                const MaLop = $('#MaLopSelect');
                MaLop.empty();

                const selectAllOption = $('<option>', {
                    value: "all",
                    text: "Tất cả các lớp"
                });
                MaLop.append(selectAllOption);

                if (data && data.length > 0) {
                    for (let i = 0; i < data.length; i++) {
                        const option = $('<option>', {
                            value: data[i].MaLop,
                            text: data[i].MaPhong
                        });
                        MaLop.append(option);
                    }
                }
            },
            error: function (error) {
                console.error("Lỗi khi lấy dữ liệu khoa:", error);
            }
        });
    });

    function buildData() {
        let tuKhoa = $('#tu-khoa-search').val();
        const request = {
            "TuKhoa": tuKhoa,
        };
        return request;
    }
</script>

<!-- script for table -->
<script>
    const url = window.location;
    const BASEURL = url.protocol + "//" + url.hostname + url.port;

    $(document).ready(function () {
        $('#filter-btn').on('click', function () {
            $('#dataGrid').DataTable().ajax.reload().draw();
        });

        $('#filter-cancel-btn').on('click', function () {
            // Xóa giá trị của input tìm kiếm
            $('#tu-khoa-search').val("");

            // Đặt lại giá trị của dropdown chọn lớp về mặc định
            $('#MaLopSelect').val("all").trigger('change');

            $('#ngay-search').val("");

            // Reload datatable
            $('#dataGrid').DataTable().ajax.reload().draw();
        });


        // Bắt sự kiện nhấn search button
        $('#tu-khoa-search').on("keydown", function search(e) {
            if (e.keyCode == 13) {
                $('#dataGrid').DataTable().ajax.reload().draw();
            }
        });

        function buildData() {
            let TuKhoaSearch = $('#tu-khoa-search').val();
            let TuKhoaMaLop = $('#ma-search').val();
            let TuKhoangay = $('#ngay-search').val();

            const request = {
                "TuKhoaSearch": TuKhoaSearch,
                "TuKhoaMaLop": TuKhoaMaLop,
                "TuKhoaNgay": TuKhoangay
            };

            return request;
        };
        // Khởi tạo bảng #DataGrid
        let table = $('#dataGrid').DataTable({
            "pageLength": 15,
            "autoWidth": false,
            "ordering": false,
            "bInfo": false,
            "bDestroy": true,
            "lengthChange": false, // Tắt chức năng thay đổi số lượng hiển thị
            "filter": false,
            "scrollY": "400px",
            "language": {
                "sProcessing": "Đang xử lý...",
                "sLengthMenu": "_MENU_",
                "sZeroRecords": "Không có dữ liệu",
                "sEmptyTable": "Bảng trống",
                "sInfo": "Hiện dòng _START_ đến _END_ trong tổng _TOTAL_ dòng",
                "sInfoEmpty": "Hiện dòng 0 đến 0 trong tổng 0 dòng",
                "sSearch": "Tìm kiếm",
                "sLoadingRecords": "Đang tải...",
                "paginate": {
                    next: '<i class="icon-fluent icon_fluent_chevron_right_filled"></i>',
                    previous: '<i class="icon-fluent icon_fluent_chevron_left_filled"></i>'
                }
            },

            "ajax": {
                url: `${BASEURL}/api/TuanMVC/SinhVienVLopApi/Gets3`,
                type: "POST",
                data: buildData,
                dataSrc: function (data) {
                    if (data && data.length > 0) {
                        for (let i = 0; i < data.length; i++) {
                            data[i].stt = i + 1;
                        }

                        return data;
                    }

                    return [];
                },
            },
            columnDefs: [
                {
                    //targets: 8,
                    //render: function (data, type, row, meta) {
                    //    return `<span title="Chỉnh sửa" class="edit-command-btn" id=n-"${meta.row}">Edit</span>
                    //            <span title="Xóa" class="delete-command-btn" id=n-"${meta.row}">Delete</span>`;
                    //}
                }
            ],
            "columns": [
                { data: "stt", "width": "30px", "class": "stt-text center-align" },
                { data: "MaSinhVien", "class": "left-align" },
                { data: "HoTen", "class": "left-align" },
                { data: "DiaChi", "class": "left-align" },
                { data: "NgaySinh", "class": "left-align" },
                { data: "SoDienThoai", "class": "left-align" },
                { data: "MaLop", "class": "left-align" },
                { data: "TenMon", "class": "left-align" },
            ]
        });
    });
</script>


<!-- script for thong ke -->
<script>
    function showSecondModal() {
        $('#modalThongKe').modal('hide'); // Ẩn modal hiện tại
        $('#modalAddSecond').modal('show'); // Hiển thị modal mới
    }

    $(document).ready(function () {
        $('#btn-tim').on('click', function () {
            // Lấy giá trị từ ô input tu-khoa-ngay-vang
            let tuKhoaNgayVang = $('#tu-khoa-ngay-vang').val();

            // Xây dựng object request
            const requestData = {
                "TuKhoaNgayVang": tuKhoaNgayVang
            };

            // Gửi Ajax request
            $.ajax({
                url: `${BASEURL}/api/TuanMVC/SinhVienVThongKeApi/GetsThongKe`,
                type: "POST",
                data: requestData,
                success: function (data) {
                    // Reload datatable
                    $('#dataGrid_ThongKe').DataTable().ajax.reload().draw();
                },
                error: function (error) {
                    console.error("Lỗi khi tìm kiếm thống kê:", error);
                }
            });
        });

        // Bắt sự kiện nhấn search button
        $('#tu-khoa-ngay-vang').on("keydown", function search(e) {
            if (e.keyCode == 13) {
                // Nếu nhấn phím Enter, thực hiện tìm kiếm bằng cách nhấn nút 'btn-tim'
                $('#btn-tim').click();
            }
        });

        function buildData() {
            let TuKhoaNgayVang = $('#tu-khoa-ngay-vang').val();

            const request = {
                "TuKhoaNgayVang": TuKhoaNgayVang,
            };

            return request;
        };

        // Khởi tạo bảng #DataGrid
        let table = $('#dataGrid_ThongKe').DataTable({
            "pageLength": 10,
            "autoWidth": false,
            "ordering": false,
            "bInfo": false,
            "bDestroy": true,
            "lengthChange": false, // Tắt chức năng thay đổi số lượng hiển thị
            "filter": false,
            "language": {
                "sProcessing": "Đang xử lý...",
                "sLengthMenu": "_MENU_",
                "sZeroRecords": "Không có dữ liệu",
                "sEmptyTable": "Bảng trống",
                "sInfo": "Hiện dòng _START_ đến _END_ trong tổng _TOTAL_ dòng",
                "sInfoEmpty": "Hiện dòng 0 đến 0 trong tổng 0 dòng",
                "sSearch": "Tìm kiếm",
                "sLoadingRecords": "Đang tải...",
                "paginate": {
                    next: '<i class="icon-fluent icon_fluent_chevron_right_filled"></i>',
                    previous: '<i class="icon-fluent icon_fluent_chevron_left_filled"></i>'
                }
            },

            "ajax": {
                url: `${BASEURL}/api/TuanMVC/SinhVienVThongKeApi/GetsThongKe`,
                type: "POST",
                data: buildData,
                dataSrc: function (data) {
                    if (data && data.length > 0) {
                        for (let i = 0; i < data.length; i++) {
                            data[i].stt = i + 1;
                        }

                        return data;
                    }

                    return [];
                },
            },
            "columns": [
                { data: "MaLop", "class": "left-align" },
                { data: "SoSinhVienVang", "class": "left-align" },
                { data: "SoSinhVienDiHoc", "class": "left-align" },
            ]
        });
    });
</script>